/AutoMerge.v12.suo
/AutoMerge/bin
/AutoMerge/obj
/Base/bin
/Base/obj
/DI/bin
/DI/obj
/DefaultImplementation/Code/bin
/DefaultImplementation/Code/obj
/DefaultImplementation/Types/bin
/DefaultImplementation/Types/obj
/DefaultImplementationTestsProject/bin
/DefaultImplementationTestsProject/obj